body {
    display: grid;
}

input {
    outline: none;
    padding: 8px 15px;
    margin: 0px 0;
    box-sizing: border-box;
    border: none;
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 35px;
    place-items: center;
    width: 350px;
}

div.app {
    float: left;
    padding: 0px;
    width: 170px;
    margin-bottom: 15px;

}

div.apps {
    padding: 10px;
}

img {
    background-color: #0a0a0a;
    color: white;
    padding: 10%;
    border-radius: 30px;
}

h1 {
    font-size: 58px;
    background: linear-gradient(to right, #FC6AFF, #45DEFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}


button {
    background-color: #0a0a0a;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 8px;
    cursor: pointer;
}

.share {
    color: #0059ff;
    text-decoration: none;
}

.name {
    font-size: 22px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    font-weight: normal;
}

.formbtn {
    font-size: 20px;
}

.approvaltext {
    font-size: 12px;
}

.dark button {
    background-color: #0e0e0e;
}

.dark img {
    background-color: #0e0e0e;
}

.dark input {
    background-color: #202020;
    color: white;
}

.dark {
    background-color: #1a1a1a;
    color: white;
}

.appimg {
    max-width: 100%;
    max-height: 100%;
}

.imgapp {
    height: 76px;
    width: 76px;
}

.forminput {
    margin-bottom: 10px;
}

.categoryform {
    outline: none;
    padding: 8px 15px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    background-color: #202020;
    color: white;
    border-radius: 35px;
}